[submodule "dot.vim/bundle/elrond"]
	path = dot.vim/bundle/elrond
	url = https://github.com/aperezdc/vim-elrond
[submodule "dot.vim/bundle/sensible"]
	path = dot.vim/bundle/sensible
	url = https://github.com/tpope/vim-sensible
[submodule "dot.vim/bundle/lining"]
	path = dot.vim/bundle/lining
	url = https://github.com/aperezdc/vim-lining
[submodule "dot.vim/bundle/fugitive"]
	path = dot.vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "dot.vim/bundle/characterize"]
	path = dot.vim/bundle/characterize
	url = https://github.com/tpope/vim-characterize
[submodule "dot.vim/bundle/commentary"]
	path = dot.vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "dot.vim/ftbundle/rust/racer"]
	path = dot.vim/_bundle/racer
	url = https://github.com/racer-rust/vim-racer
[submodule "dot.vim/bundle/vimcompletesme"]
	path = dot.vim/bundle/vimcompletesme
	url = https://github.com/ajh17/vimcompletesme
[submodule "dot.vim/bundle/dirvish"]
	path = dot.vim/bundle/dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "dot.vim/bundle/eunuch"]
	path = dot.vim/bundle/eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "dot.vim/bundle/qf"]
	path = dot.vim/bundle/qf
	url = https://github.com/romainl/vim-qf
[submodule "dot.vim/bundle/repeat"]
	path = dot.vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat
[submodule "dot.vim/bundle/template"]
	path = dot.vim/bundle/template
	url = https://github.com/aperezdc/vim-template
[submodule "dot.vim/bundle/hipack"]
	path = dot.vim/bundle/hipack
	url = https://github.com/aperezdc/hipack-vim
[submodule "dot.vim/bundle/mkdir"]
	path = dot.vim/bundle/mkdir
	url = https://github.com/pbrisbin/vim-mkdir
[submodule "dot.vim/bundle/fzf.vim"]
	path = dot.vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "dot.vim/bundle/fzf"]
	path = dot.vim/bundle/fzf
	url = https://github.com/junegunn/fzf
[submodule "dot.vim/bundle/targets"]
	path = dot.vim/_bundle/targets
	url = https://github.com/wellle/targets.vim
[submodule "dot.vim/bundle/bracketed-paste"]
	path = dot.vim/bundle/bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste
[submodule "dot.vim/bundle/ledger"]
	path = dot.vim/bundle/ledger
	url = https://github.com/ledger/vim-ledger
[submodule "dot.vim/bundle/gitgutter"]
	path = dot.vim/_bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "dot.vim/bundle/auto-pairs"]
	path = dot.vim/_bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "dot.vim/bundle/sleuth"]
	path = dot.vim/bundle/sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "dot.vim/bundle/repmo"]
	path = dot.vim/bundle/repmo
	url = https://github.com/vim-scripts/repmo.vim
[submodule "dot.vim/bundle/completor"]
	path = dot.vim/bundle/completor
	url = https://github.com/maralla/completor.vim
[submodule "dot.vim/bundle/gnupg"]
	path = dot.vim/bundle/gnupg
	url = https://github.com/jamessan/vim-gnupg
[submodule "dot.vim/bundle/rust"]
	path = dot.vim/bundle/rust
	url = https://github.com/wting/rust.vim
[submodule "dot.vim/bundle/incsearch"]
	path = dot.vim/bundle/incsearch
	url = https://github.com/haya14busa/incsearch.vim
[submodule "dot.vim/bundle/expand-region"]
	path = dot.vim/bundle/expand-region
	url = https://github.com/terryma/vim-expand-region
[submodule "dot.vim/bundle/surround"]
	path = dot.vim/bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "dot.vim/bundle/incsearch-fuzzy"]
	path = dot.vim/bundle/incsearch-fuzzy
	url = https://github.com/haya14busa/incsearch-fuzzy.vim
[submodule "dot.vim/bundle/pathogen"]
	path = dot.vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "dot.vim/bundle/easy-align"]
	path = dot.vim/bundle/easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "dot.vim/bundle/dein.vim"]
	path = dot.vim/bundle/dein.vim
	url = https://github.com/Shougo/dein.vim
