[Unit]
Description=GPG+SSH Agent
Documentation=https://github.com/vodik/gpg-tools/

[Service]
Type=forking
ExecStart=/usr/bin/gpg-agent --daemon --enable-ssh-support

[Install]
WantedBy=multi-user.target

# vim: ft=systemd
